# Database connection (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/krishiqueue?schema=public"

# Auth Secrets
JWT_SECRET="super-secret-krishiqueue-key-minimum-32-chars-length"
JWT_EXPIRES_IN="7d"

# App Environment
NODE_ENV="development"
PORT=3000
NEXT_PUBLIC_APP_URL="http://localhost:3000"
